[package]
name = "authfix"
authors = ["Stefan Simon <stefan.j.c.simon@gmail.com>"]
keywords = ["authentication", "session", "actix", "actix-web", "middleware", "auth", "web", "login", "user", "users"]
exclude = [".gitignore"]
version = "0.1.0-alpha.1"
edition = "2021"

[dependencies]
actix-web="4"
log = "0.4.26"
serde = { version = "1.0.218", features = ["derive"]}
actix-session = "0.10.1"
futures = "0.3.31"
regex = "1.11.1"
urlencoding = "2.1.3"
thiserror = "2.0.11"

# feature: google_auth
google-authenticator = { version = "0.4.2", optional = true }
qrcode-generator = { version = "5.0.0", optional = true }
rand = { version = "0.9.0", optional = true }
base32 = { version = "0.5.1", optional = true }

[dev-dependencies]
reqwest = { version = "0.12.11", features = ["cookies"]}
actix-session = { version = "0.10.1", features = ["cookie-session"]}
actix-rt = "2.10.0"
actix-test = "0.1.5"
resvg = "0.45.0"
rqrr = "0.9.0"
image = "0.25.5"
chrono = "0.4.40"

# to make integration tests work
authfix = { path = ".", features = ["google_auth", "mfa_send_code"] } 

[features]
google_auth = ["dep:google-authenticator", "dep:qrcode-generator", "dep:rand", "dep:base32"]
mfa_send_code = []